.lists {
    padding: 50px 0;
}


.container {
    display: flex;
}



.tabitem {
    width: 25%;
    height: 100px;

    padding: 10px;

    position: relative;
    border: 1px solid #eee;

    background-color: #fff;
    background-repeat: no-repeat;

    &.none {
        height: 40px;
        text-align: center;
    }

    &:nth-child(1) {
        &.active {
            color: #fff;

            background-color: #a18cd1;
        }
    }

    &:nth-child(2) {
        &.active {
            color: #fff;
            background-color: rgba($color: #a18cd1, $alpha: 0.8);
        }
    }

    &:nth-child(3) {
        &.active {
            color: #fff;
            background-color: rgba($color: #a18cd1, $alpha: 0.6);

        }
    }

    &:nth-child(4) {
        &.active {
            color: #fff;
            background-color: rgba($color: #a18cd1, $alpha: 0.4);
        }
    }


    &.active:hover {

        span {
            opacity: 1;
            transform: translate3d(0, -100%, 0);
        }
    }

    span {
        font-size: 12px;

        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        padding: 2px 4px;
        border-radius: 2px;

        background-color: #333;

        transition: all 0.3s ease;
    }

    h3 {
        font-size: 20px;
        font-weight: 500;

        color: #333;
    }
}

input[type="text"] {
    max-width: 100%;
    font-size: 14px;
    padding: 1px 6px;
    border-radius: 3px;
    border: 1px solid #333;
    outline: 0;

    line-height: 1.2;
}

.group-inline {
    width: 100%;
    display: flex;
    justify-content: space-between;

    input[type="text"] {
        width: calc(100% - 30px);
    }

    .btn {
        width: 26px;
    }
}

.add-new {
    width: 375px;
    max-width: 100%;
}

.cb-buttons {
    position: absolute;
    z-index: 10;
    bottom: 2px;
    right: 0;

    display: flex;

    .btn {
        margin-right: 2px;
    }
}

.btn {
    width: 50px;

    outline: 0;
    border: 0;
    border-radius: 3px;

    display: block;

    font-size: 12px;
    color: #fff;

    padding: 2px 5px;

    cursor: pointer;

    &--edit {
        background-color: #17a2b8;
    }

    &--delete {
        background-color: #dc3545;
    }

    &--ok {
        background-color: #dc3545;
    }

    &--join {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        background: linear-gradient(45deg, #333, #989898);
    }
}